:root{
    --main-color: #090909;
    --second-color: #d9bb61;
    --third-color: #444444;
    --fourth-color: #8b8072;
    --main-padding: 10px;
    --main-margin: 50px;
    --main-font-weight: bold;
    --main-font-size: 150%;
    --main-duration: 0.5s;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Work Sans", sans-serif;
}





/*@media (max-width: 720px){
    .header.main .container{
        max-width: 650px;
    }
}
*/

.upBTN{
    position: fixed;
    bottom: 0;
    right: 2%;
    background-color: white;
}



/*header            */
.header{
    background-color: var(--main-color);
}
.header .container{
    position: relative;
    border-bottom: 1px solid var(--second-color);
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.header .container .portfolio{
    color: white;
    font-weight: var(--main-font-weight);
    font-size: var(--main-font-size);
    letter-spacing: 1px;
}
.header .container .portfolio span{
    color: var(--second-color);
}
.header .container ul{
    display: flex;
    padding-left: 0;
    list-style-type: none;
}
.header .container ul li a{
    text-decoration: none;
    color: white;
    padding-right: var(--main-padding);
    padding-left: var(--main-padding);
}
.header .container ul li a:hover{
    color: var(--second-color);
}



/*home          */
.home{
    background-color: var(--third-color);
    height: 100vh;
}
.home .container{
    display: grid;
    grid-template-columns: repeat(2, minmax(450px, 1fr));
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-gap: 30px;
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
    padding-top: var(--main-margin);
}
.home .container .text{
    color: white;
    font-weight: var(--main-font-weight);
    font-size: var(--main-font-size);
    line-height: 1.6;
}
.home .container .text h3{
    color: var(--second-color);
}
.home .container .text span{
    color: var(--second-color)
}
.home .container .text .sp{
    color: var(--fourth-color);
}





/*about me          */
.about{
    height: 100vh;
    background-color: var(--main-color);
}
.about .container{
    margin-top: var(--main-margin);
    display: grid;
    grid-template-columns: repeat(2, minmax(450px, 1fr));
    justify-items: center;
}
.about .container .text{
    color: white;
    letter-spacing: 2px;
    line-height: 1.5;
}
.about .container .text h1{
    color: var(--second-color);
    font-size: 40px;
}
.about .container .text span{
    color: var(--second-color);
}
.about .container .text .small{
    font-size: var(--main-font-size);
}
.about .container .text .big{
    line-height: 1.6;
}






/*services          */
.services{
    height: 100vh;
    background-color: var(--third-color);
}
.services .contain{
    
    text-align: center;
}
.services .container h3{
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: var(--main-font-weight);
    letter-spacing: 1.6px;
}
.services .container .contain{
    padding: calc(var(--main-margin) + var(--main-padding));
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
    grid-gap: 50px;
    color: white;
}
.services .container .contain i{
    color: var(--second-color);
    font-size: 50px;
}
.services .container .contain .small{
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
}
.services .container .contain .big{
    line-height: 1.6;
    padding-bottom: var(--main-padding);
}






/*skills            */
.skills{
    height: 100vh;
    background-color: var(--main-color);
}
.skills .container{
    margin-top: var(--main-margin);
    display: grid;
    grid-template-columns: repeat(2, minmax(450px, 1fr));
    justify-items: center;
}
.skills .materials{
    color: white;
}
.skills .container h2{
    color: var(--second-color);
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
}
.skills .container h3{
    color: var(--fourth-color);
}
.skills .container span{
    color: var(--fourth-color);
    font-size: var(--main-font-size);
    line-height: 1.6;
}




/*contact           */
.contact{
    background-color: var(--third-color);
    height: 35vh;
}
.contact .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    line-height: 1.6;
    color: white;
}
.contact .container .small{
    margin-top: var(--main-margin);
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    color: var(--second-color);
}
.contact .container .big{
    margin: var(--main-padding);
}
.contact .container .icons{
    margin-top: 20px;
}
.contact .container .icons a{
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: var(--second-color);
    padding: 20px;
}
.contact .container i{
    color: white;
}




/*shared classes*/
.main{
    padding: var(--main-padding);
    margin-top: 0;
    margin-bottom: 0;
}
.image{
    width: 360px;
    height: 550px;
}
.image img{
    box-shadow: 3px -4px 5px 2px var(--second-color);
    width: 100%;
    height: 100%;
}
img.left{
    box-shadow: -3px -4px 5px 2px var(--second-color);
}
.btn{
    text-decoration: none;
    background-color: var(--second-color);
    color: white;
    padding: var(--main-padding);
    width: 120px;
    border-radius: 30px;
    font-weight: var(--main-font-weight);
    letter-spacing: 1px;
    transition: transform var(--main-duration);
}
.btn:hover{
    border: 1px solid var(--second-color);
    background-color: transparent;
    transform: scale(1.1);
}
@media(max-width: 1300px){
    .main{
        height: fit-content;
        padding-bottom: calc(var(--main-margin) + 10px);
    }
}
@media(max-width: 992px){
    .container{
        grid-template-columns: repeat(1, 1fr) !important;
    }
}
@media(max-width: 768px){
    .container{
        height: fit-content;
        border: none !important;
    }
    .header ul{
        display: none;
        position: absolute;
        top: 150%;
        left: -10%;
        margin: 0;
        border-bottom: 1px solid var(--second-color);
    }
    .contain{
        padding: 0 !important;
    }
}